:host
{
    width: 500px;
    height: 320px;
    background: #F5F5F5;
    padding: 33px 40px 30px 40px;
    box-sizing: border-box;
    display: block;
}

:host::after
{
    content: "";
    width: inherit;
    height: 100px;
    background: #FFFFFF;
    left: 0;
    display: block;
    margin: -30px -40px;
    z-index: 0;
}

.app-title
{
    font-size: 20px;
    margin: 0 0 37px 0;
    font-weight: normal;
    line-height: 20px;
    text-indent: -1px;
}

.btn
{
    float: left;
}

